# ======================
# JAVA
# ======================
target/
bin/
build/
out/
*.class
*.jar
*.war
*.ear

# ======================
# MAVEN / GRADLE
# ======================
.mvn/wrapper/maven-wrapper.jar

# ======================
# ECLIPSE
# ======================
.metadata/
.settings/
.project
.classpath

# ======================
# INTELLIJ
# ======================
.idea/
*.iml

# ======================
# VS CODE
# ======================
.vscode/

# ======================
# ANGULAR / NODE
# ======================
node_modules/
dist/
.angular/
coverage/

# ======================
# LOGS
# ======================
*.log

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db